@font-face {
      font-family: "Title";
      src: url("Title.ttf");
}

/*these are overwrites of standard css*/
body{
      display: block;
      margin: 0;
      background-color: #ffffff;
}

img{
      width: auto; /* for IE8 support*/
      max-width: 100%;
      height: auto;
}

.head{
      max-width: 100vw;
      background-color: #323232;
      height: 100px;
      position: sticky;
      right:0;
      left:0;
      z-index: 5;
      margin: 0 auto;
}
.head2{
      max-width: 100vw;
      background-color: #323232;
      height: 80px;
      position: sticky;
      top: 0;
      right:0;
      left:0;
      margin: 0 auto;
      box-shadow: 0 4px 6px 0 #797979;
}


.body{
      max-width: 960px;
}
.sticky{
      position: sticky;
      right:0;
      left:0;
      top:0;
}

.top-square {
      padding-top:0px;
      height:100px;
      background-color: #323232;
      display: block;
      position: sticky;
      z-index: 5;
      max-width: 960px;
}
.top-square2 {
      left: 65;
      height:80px;
      background-color: #323232;
      max-width: 960px;
      position: sticky;
      top: 0px;
}

.centre {
      margin: 0 auto;
}
.title1 {
      margin: 0px;
      color: #00EE00;
      font-family: "Title", "Arial";
      font-size: 80px;
      padding-top: 20px;
      padding-bottom: 0px;
      padding-left:60px;
}

.title2{
      margin: 0px;
      color: #00EE00;
      font-family: "Title", "Arial";
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 0px;
}

.ib{
      display: inline-block;
}

.input{
      padding-left: 10px;
      font-size: 20px;
      width: 180px;
      border: 1px solid #202020;
      border-radius: 10px;
      box-shadow: inset 0 0 2px #323232;
      outline: none;
}

.input:hover {
      border: 1px solid #00EE00;     
}

.searchBlock{
      position:absolute;
      right: 60px;
      top: 25px;
}

.search {
      margin-bottom: 0;
      padding-right: 5px;
      position: relative;
      bottom: 0;
}

.searchButton{
      position: relative;
      top: 0;
      height: 28px;
      width: 36px;
      background-color: #00EE00;
      border: 2px solid #000000;
      border-radius: 4px;
      text-align: center;
      color: #ffffff;
}

.searchButton:hover{
      background-color: rgb(0, 189, 0);
      box-shadow: inset 0 0 6px #000000;  
}

.giant-box{
      height: 3000px;
      width: 5px;
      background-color:#202020;    
} 

.line{
      position: relative;
      margin-top: 15px;
      width: 1px;
      height: 50px;
      background-color:#757575;
      display: inline-block;
      box-shadow: 0 0 4px black;
}

.marginLeft{
      margin-left: 65px;
      margin-right: 0px;
}

.title:hover {
      text-shadow: 0 0 8px;
}

.white {
      color: white;
}

.signinBlock{
      position: absolute;
      right: 60px;
      top: 55px;
}

.signedinBlock{
      position: absolute;
      right: 60px;
      top: 35px;
}


/*The container holding the games*/
.gameContainer{
      max-width: 90%;
      height: 290px;
      background-color: #00EE00;
      margin-top: 40px;
      box-shadow: 4px 4px 8px 0px #696969;
}

.GCTitle{
      padding: 10px;
      font-size: 200%;
      color: #323232;
      font-family: arial;
      text-shadow:1px 1px 3px #6d6d6d;
      display: block;
}

/*holds the games*/
.GCgroup{
      display: block;
}

/*Holds individual game*/
.GCGame{
      display: inline-block;
      text-align: center;
      padding-left: 25px;
}
.GCImg{
      max-width: 140px;
      max-height: 191px;
}

.GCImg:hover{
      box-shadow: 2px 2px 6px 0px #696969;
}

.GCName{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 100%;
      color: #323232;
      margin: 4px;
}

.Welcome{
	  margin: 1px;
     font-family:"test", "Arial";
     color: #00EE00;
	  text-align: center;
}


.dropbtn {
  min-width: 150px;
  background-color: #323232;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #323232;
  box-shadow: inset 0px 0px 6px #000000;
  border: 1px;
  border-radius: 3px;
}

.padleft{
  padding-left: 65px;
}

.signinContainer{
  position: relative;
  right: 0;
}

.signin{
  margin: 1px;
  width: 160px;
  height: 26px;
  border: 2px solid #202020;
  border-radius: 13px;
  background-color: #00EE00;
  color: #f7f7f7;
  z-index: 2;
}

.signin:hover {
  background-color: rgb(0, 189, 0);
  box-shadow: inset 0 0 6px #000000; 
}

/*This is for the container at the bottom of the page*/
.mostViewed{
      z-index: -5;
      max-width: 90%;
      height: 295px;
      margin-top: 40px;
      margin-bottom:40px;
      position: sticky;
      right:0;
      left:0;
}

.MVimageBlock{
      height: 270px;
      width: 198px;
      padding: 25px;
      padding-top: 0;
}

.MVtext{
      width: 590px;
      display: inline-block;
      position:absolute;
      top: 25px;
}

.MVTitle{
      font-family: Arial, Helvetica, sans-serif;
      color: #00EE00;
      font-size: 200%;
      text-shadow:1px 1px 3px #D1D1D1;
}

.MVname{
      font-family: Arial, Helvetica, sans-serif;
      color: #00EE00;
      font-size: 100%;
}

.MVdescription{
      width: 100%;
      height: 130px;
      background-color: #f1f1f1;
      box-shadow: 4px 4px 8px 0px #696969;
}

pre{
      padding: 5px;
}
