{% extends 'RNG/base.html' %}
{% load staticfiles %}


{% block body_block %}
	<div class="body centre">
	<div class= "MVTitle ib"><u>Request a Game</u></div>
	{% if user.is_authenticated %}
			<p>
			Please fill out the forms below to add game.<b>Release date should be in format YYYY-MM-DD</b>
            <form id="game_form" method='POST' action="." enctype="multipart/form-data" onclick="myFunction();">
					{% csrf_token %}
					{{ game_form.as_p }}
					<b>Please enter the file name including the file's type as displayed above once the image is selected.</b>
					<br />

				<input type="submit" name="submit" value="submit" button class="signin">
			</form>
	{% else %}
		
		<p><b>You must be logged in to add a game. 
		<a href="{% url 'auth_login' %}Sign in here</a> or 
		<a href="{% url 'registration_register' %}">sign up here!</a></b>
	{% endif %}
	</div>
	</div>
{% endblock %}