{% extends 'RNG/base.html' %}
{% load staticfiles %}


{% block body_block %}
<div class="body centre">
	{% if games %}
		{% for game in games %}
		<a href="{% url 'game' category.slug game.slug %}">TestLink</a><br/>
		<div class = "mostViewed centre">    
			<div class = "MVimageBlock ib">
				<img src={% static "images/largeGame.jpg"%}>
			</div>
			<div class = "MVtext">
				<div class = "MVTitle">{{game.name}}</div>        
			</div>
		</div>
		{% endfor %}
	{% else %}
	<div class = "mostViewed centre">
        <div class = "MVtext">
            <div class = "MVTitle">There are no games to display.</div>            
        </div>
    </div>
	{% endif %}
	{% if user.is_authenticated %}
			<a href="/RNG/category/{{category.slug}}/add_game/">Add game</a><br/>
	{% endif %}
</div>
{% endblock %}

<!--<form class="form-inline" id="user_form" method="post" action="{% url 'show_category' category.slug %}">
	{% csrf_token %}
	<div class="form-group">
		<input class="form-control" type="text" size="50" name="query" value="{{ query }}" id="query" />
	</div>
	<button class="btn btn-primary" type="submit" name="submit" value="Search">Search</button>
</form> 
--> 
