{% extends 'RNG/base.html' %}

{% load staticfiles %}

{% block body_block %}

<div class="body centre">
	{% if game %}
    <div class = "mostViewed centre">
        <div class = "MVimageBlock ib">
			<img src={% static "images/game.jpg"%}>
		</div>
        <div class = "MVtext center">
            <div class = "MVTitle centre">{{game.name}}</div>          
            <div class = "MVdescription centre">
                <pre>{{game.description}}</pre>
            </div>
			<div class="rating_container right">
				<div class="ib">Critic rating:</div>
				<div class = "rating ib"><p class="fc right">Placeholder</p></div>
			</div>
			<div class="rating_container right">
				<div class="ib">User rating:</div>
				<div class = "rating ib"><p class="fc right">Placeholder</p></div>
			</div>
		</div>
        
    </div>
		
		<div class="comments">
			<div class= "MVTitle ib">{{ comments.count }} Comment{{ comments|pluralize }}</div>
			{% if user.is_authenticated %}
				<form method='post' action=".">
					{% csrf_token %}
					{{ comment_form.as_p }}
				<input type="submit" value="Comment" button class="signin">
				</form>
			{% else %}
				<br />
				Only singed in users can leave comments. You can <a href="{% url 'auth_login' %}">sign in here</a> or 
				<a href="{% url 'registration_register' %}">sign up here!</a>
			{% endif %}
			
			{% for comment in comments %}
				<hr>
				<b>{{ comment.user }} says: </b><br />
				<p>{{ comment.content }}</p>
				<p>{{ comment.timestamp }}</p>
				<hr>
			{% endfor %}
		</div>
	{% else %}
		Something went wrong.
	{% endif %}
    
</div>
{% endblock %}