{% extends 'RNG/base.html' %}
{% load staticfiles %}
{% block title %} Search {% endblock %}
{% block body_block %}
{% if games %}
{% for game in games %}
    <div class="body centre">
        <div class="mostViewed centre">
        <div class= "MVimageBlock ib">
          <a href="{% url 'game' game.category.slug game.slug %}">
            <img src="/media/game_images/{{ game.file_name }}/">
           </a><!-- this is for the django tag!-->
        </div>
        <div class="MVtext">
          <a href="{% url 'game' game.category.slug game.slug %}"><div class="MVTitle"><u>{{game.name}}</u></div></a>
          <div class="MVname"></div><!-- this is for the django tag!-->
          <div class="MVdescription">
            <div>{{game.description}}</div><!-- this is for the django tag!-->
          </div>
        </div>
        
      </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}