{% extends 'RNG/base.html' %}

{% load staticfiles %}

{% block body_block %}
<div class="body centre">
	{% if game %}
    <div class = "mostViewed centre">
        <div class = "MVimageBlock ib">
            <img src={% static "images/largeGame.jpg"%}>
        </div>
        <div class = "MVtext">
            <div class = "MVTitle">{{game.name}}</div>          
            <div class = "MVdescription pt">
                <pre>{{game.description}}</pre>
            </div>
            <div class="rating_container centre">
                <div class="ib">Critic rating:</div>
                <div class = "rating ib"><p class="fc centre">Placeholder</p></div>
            </div>
			<div class="rating_container centre">
                <div class="ib">User rating:</div>
                <div class = "rating ib"><p class="fc centre">Placeholder</p></div>
            </div>
        </div>
	{% else %}
		Something went wrong.
	{% endif %}
    </div>
</div>
{% endblock %}