{% extends 'RNG/base.html' %}

{% load staticfiles %}

{% block title_block %}
	<title>Rate New Games ~ Home</title>
{% endblock %}

{% block body_block %}
     <div class="body centre">
      
      <div class="gameContainer centre">
        <div class="GCTitle">New Releases</div>
        <div class="GCgroup">

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

        </div> 
      </div>

      <div class="gameContainer centre">
        <div class="GCTitle">Popular</div>
        <div class="GCgroup">

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

          <div class="GCGame">
            <div class="GCImg">
              <img src="game.jpg">
              <p class="GCName"><b>game name</b></p>
            </div>
          </div>

        </div> 
      </div>
{% endblock %}